%p#notice= notice

%p
  %b Provider:
  = User.find(@exchange.provider_id).name
%p
  %b Seeker:
  = User.find(@exchange.seeker_id).name
%p
  %b Seeker has accepted:
  = @exchange.s_accepted
%p
  %b Provider has accepted:
  = @exchange.p_accepted
%p
  %b Seeker has finished exchange:
  = @exchange.s_finished
%p
  %b Provider has finished exchange:
  = @exchange.p_finished

= link_to 'Edit', edit_exchange_path(@exchange)
\|
= link_to 'Back', exchanges_path
