.pure-g.grid-columns-container
  .pure-u-1-8
    %ul.pure-menu-list
      %li.pure-menu-item Login Settings
      %li.pure-menu-item 
        = link_to "General", '/profile/edit'
      %li.pure-menu-item
        = link_to "Resources", '/resource_profile/edit'
      %li.pure-menu-item 
        = link_to "Privacy", '/privacy'
  .pure-u-3-4#signup-column
    %h2.cursive#signup-title Login Settings
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "pure-form pure-form-aligned" }) do |f|
      = devise_error_messages!
      %fieldset
        .pure-control-group
          = f.label :email
          = f.email_field :email, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .pure-control-group
          = f.label "Current Password"
          = f.password_field :current_password, autocomplete: "off", placeholder: "(required to save any changes!)"
        .pure-control-group
          = f.label "Change Password"
          = f.password_field :password, autocomplete: "off"
        .pure-control-group
          = f.label "Confirm Change"
          = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          = f.submit "Update", class: "btn btn-success cursive", id: "form-submit-button"
    = button_to "Delete account", registration_path(resource_name), {data: { confirm: "Are you absolutely sure? This cannot be undone." }, method: :delete, class: "btn btn-danger cursive"}
  .pure-u-1-8