= link_to user.name, user_path(user)
= user.gender
= if user.provider then "Provider" else "In need" end
%br
= location_string user
%br
= truncate(user.about, length: 150, separator: ' ') { link_to "(continue)", user_path(user) }
