.pure-g.grid-columns-container
  .pure-u-1-8
    %ul.pure-menu-list
      %li.pure-menu-item 
        = link_to "Login Settings", '/settings'
      %li.pure-menu-item General
      %li.pure-menu-item
        = link_to "Resources", '/resource_profile/edit'
      %li.pure-menu-item 
        = link_to "Privacy", '/privacy'
  .pure-u-3-4#signup-column
    %h2.cursive#signup-title Edit Profile
    = form_for(@user, as: :user, url: registration_path(:user), html: { method: :put, class: "pure-form pure-form-aligned" }) do |f|
      .pure-control-group
        = f.label "Current Password"
        = f.password_field :current_password, autocomplete: "off", placeholder: "(required to save any changes!)"
      .pure-control-group
        = f.label :name
        = f.text_field :name
      .pure-control-group
        = f.label :gender
        = f.text_field :gender
      .pure-control-group
        = f.label "Postal Code"
        = f.text_field :zipcode
      .pure-control-group
        = f.label :birthday
        = f.date_field :birthday
      .field
        = f.label :about
        %br
        = f.text_area :about, size: '40x5'
      .field
        = f.label "Bio snippet"
        %br
        %em This optional short snippet will appear by your name in search results, to a maximum of 140 characters.
        %br
        = f.text_area :tagline, size: '40x3'
      %br
      .actions
        = f.submit "Update", class: "btn btn-success cursive", id: "form-submit-button"
  .pure-u-1-8.side-columns