- provide :title, @user.name

.pure-g.grid-columns-container
  .pure-u-1-12
  .pure-u-22-24#user-profile-header
    %h1.cursive#user-profile-name #{@user.name}
    = "     - #{@user.provider? ? 'Able to provide:' : 'In need of:' }"
    #{authorized_resources_string}
  .pure-u-1-24
  .pure-u-15-24
    .pure-g.grid-columns-container
      .pure-u-2-3
        %ul
          %li Location: #{authorized_location_string}
          %li Last active: #{authorized_activity_string}
      .pure-u-1-3
        = link_to "Contact", new_conversation_path(@user.id), class: "btn btn-lg btn-primary cursive" 
        - if current_user.seeker? && @user.provider?
          = link_to "Request help", new_exchange_path(@user.id), class: "btn btn-lg btn-primary cursive" 
        - if current_user.provider? && @user.seeker?
          = link_to "Offer help", new_exchange_path(@user.id), class: "btn btn-lg btn-success cursive" 

    %table.pure-table.pure-table-horizontal#user-profile-table
      %tr
        %td
          %h2 Personal Profile
          %ul
            %li Gender: #{authorized_gender_string}
            %li Age: #{authorized_age_string}
            %li Email: #{authorized_email_string}
            %li 
              %h4 About: 
              %p #{authorized_about_string}
            - if can_view_resource_info?
              %h4 Resource Notes
              - if @user.food? && !@user.food_info.blank?
                %h5 Food:
                %li #{@user.food_info}
              - if @user.shelter? && !@user.shelter_info.blank?
                %h5 Shelter:
                %li #{@user.shelter_info}
              - if @user.transport? && !@user.transport_info.blank?
                %h5 Transportation:
                %li #{@user.transport_info}
              - if @user.shower? && !@user.shower_info.blank?
                %h5 Showers:
                %li #{@user.shower_info}
              - if @user.laundry? && !@user.laundry_info.blank?
                %h5 Laundry:
                %li #{@user.laundry_info}
              - if @user.buddy? && !@user.buddy_info.blank?
                %h5 Mentoring & Buddy system:
                %li #{@user.buddy_info}
              - if @user.misc? && !@user.misc_info.blank?
                %h5 Other:
                %li #{@user.misc_info}
  .pure-u-8-24
    %table.pure-table.pure-table-horizontal
      %thead
        %th
          %h2.cursive Reviews of #{@user.name} (#{@reviews.size})
      - @reviews.each do |review|
        %tr
          %td 
            By
            = link_to User.find(review.author_id).name, User.find(review.author_id)
            on #{review.created_at.strftime '%x'}
            %br
            Rating: #{review.rating} / 5
            %br
            #{review.public_comments}
            %br
            \--
            %p #{authorized_private_review_string(review)}
            %br