.pure-g.grid-columns-container
  .pure-u-1-16
  .pure-u-7-8#signup-column
    %h2.cursive#signup-title Sign in
    = form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "pure-form pure-form-aligned" } do |f|
      %fieldset
        .pure-control-group
          = f.label :email
          = f.email_field :email, autofocus: true
        .pure-control-group
          = f.label :password
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .pure-control-group
            = f.label :remember_me
            = f.check_box :remember_me
        .actions
          = f.submit "Log in", class: "btn btn-lg btn-success cursive", id: "form-submit-button"
    = render "devise/shared/links"
