- unless current_page? splash_url
  %header.home-menu.pure-menu.pure-menu-horizontal
    =link_to render("logo"), '/', class: "pure-menu-heading", id: "logo"
    %span.header-menu-items.header-user-functions
      %ul.pure-menu-list
        - if signed_in? # Signed in user Navbar
          %li.pure-menu-item
            Signed in as
            = link_to current_user.name, profile_path, id: "header-username", class: "cursive"
          |
          %li.pure-menu-item
            = link_to "Settings", '/settings'
          |
          %li.pure-menu-item
            = link_to "Inbox#{inbox_notifications}", mailbox_inbox_path
          |
          %li.pure-menu-item
            = link_to "Dashboard", '/dashboard'
          |
          %li.pure-menu-item
            = link_to "Sign out >", destroy_user_session_path, method: "delete", class: "sign-in-btn"
        - else # Signed out user Navbar
          %li.pure-menu-item
            = link_to "Sign In >", new_user_session_path, id: 'sign-in-button', class: "sign-in-btn" unless current_page? new_user_session_path
- else
  %header.pure-menu.pure-menu-horizontal
    %span.header-menu-items
      %ul.pure-menu-list
        %li.pure-menu-item#splash-login-header
          Already have an account?
          = link_to "Sign In >", new_user_session_path, class: "sign-in-btn"