= form_for [@user, @review] do |f|
  .form-inputs
    = f.label :public_comments
    = f.text_field :public_comments
    = f.label :private_comments
    = f.text_field :private_comments
    = f.label :rating
    = f.number_field :rating, in: 1..5

  .form-actions
    = f.submit "Submit", class: "btn btn-success"
